<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<link rel='stylesheet' href='/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
	<script href='/js/bootstrap.js'></script>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/less.min.js"></script>
	<script src="/js/crafty.js"></script>
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  </head>
  <body>{{{body}}}</body>
</html>