body {
  background: black;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}
.red{
    padding: 15px;
    background: red;
    -moz-border-radius: 10px;
    border-radius: 10px 10px;
}
.green{
    padding: 15px;
    background: green;
    -moz-border-radius: 10px;
    border-radius: 10px 10px;
}
.blue{
    padding: 15px;
    background: DarkBlue;
    -moz-border-radius: 10px;
    border-radius: 10px 10px;
}
.orange{
    padding: 15px;
    background: orange;
    -moz-border-radius: 10px;
    border-radius: 10px 10px;
}
.black{
    padding: 5px;
	border-bottom: 3px solid white;
	border-top: 5px solid white;
}
.red-color{
    background: red;
}
.green-color{
    background: green;
}